<h1>New task</h1>

<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :details %>
    <%= f.text_field :details %>
    <label>
    <%= f.check_box :completed %> Completed
    </label>
  </div>
<% end %>

<hr>
<%= link_to tasks_path do %>
  <i></i> Back to list
<% end %>